.results {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    &__title {
      font-size: 35px;
      line-height: 1.1;
    }
}

.schedule {
    flex: 0 0 650px;

    &__table {
        width: 100%;
        margin-top: 30px;
    }
}
    
.schedule-table {
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 400;
    border-top: 1px solid lightgrey;
    &__row {
        display: flex;
        align-items: stretch;
        border-left: 1px solid lightgrey;
    }
    &__col {
        padding: 10px;
        flex-shrink: 0;
        flex-grow: 0;
        flex-basis: 30%;
        border-right: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        &--month {
            flex-basis: 16%;
        }
        &--Interest {
            flex-basis: 24%;
        }
    }
    &__title {
        font-weight: 700;
    }
}

.diagram {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    &__container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 30px;
    }
}