.btn {
    padding: 15px 30px;
    font-family: $ff-main;
    font-size: 16px;
    color: white;
    background-color: $c-accent;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color $tr-time ease;

    &:hover {
        background-color: darken($color: $c-accent, $amount: 5);
    }
}